.auth-error-container {
	width: 90%;
	max-width: 64rem;
	height: 25vh;
	border: 0.125rem solid var(--accent-color-two);
	border-radius: 0.375rem;
	background: var(--accent-color-three);
	margin: auto;
	padding: 0.75rem 1.25rem;
	translate: 0 -5%;

	& .auth-error-content-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		height: 100%;

		& .auth-error-msg {
			font-size: 1.5rem;
			font-weight: 600;
			color: var(--primary-color);
		}

		& .auth-error-close-btn {
			color: var(--primary-color);
			background: var(--accent-color-two);
			border: 0.0625rem solid var(--primary-color);
			font-family: inherit;
			font-weight: 500;
			padding: 0.5rem 0.75rem;
			border-radius: 0.375rem;
			font-size: 1rem;
			cursor: pointer;
			transition: all 0.125s ease-in-out;
			&:hover {
				filter: brightness(110%);
				box-shadow: var(--button-shadow);
			}
			&:active {
				filter: brightness(95%);
			}
		}
	}
}

.auth-form-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	& .auth-input {
		min-height: 3.625rem;
		padding: 1rem 0.75rem;
		color: var(--text-color);
		border: 0.0625rem solid hsla(var(--primary-color-hsl), 0.25);
		border-radius: 0.375rem;
		font-size: 1.125rem;
		&::placeholder {
			color: var(--subtext-color);
			font-family: inherit;
			font-size: 1rem;
		}
	}

	& .auth-actions {
		display: flex;
		align-items: center;
		gap: 1.125rem;

		& .action-btn {
			color: var(--secondary-color);
			border: 0.0625rem solid transparent;
			background: var(--accent-color-one);
			font-family: inherit;
			font-weight: 500;
			padding: 0.5rem 0.75rem;
			border-radius: 0.375rem;
			font-size: 1.125rem;
			cursor: pointer;
			transition: all 0.25s ease-in-out;
			text-decoration: none;
			&:hover {
				filter: brightness(110%);
				color: var(--primary-color);
				box-shadow: var(--button-shadow);
				border-color: var(--primary-color);
			}
			&:active {
				filter: brightness(95%);
			}
		}
	}
}
