@keyframes tooltip-hover {
	from {
		scale: 0;
		opacity: 0;
	}
	to {
		scale: 1;
		opacity: 1;
	}
}
.comments-list-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	& .no-comments-msg-wrapper {
		width: 100%;
		height: 10vh;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0.125rem solid var(--accent-color-two);
		border-radius: 0.375rem;
		background: var(--accent-color-three);
		padding: 0.75rem 1.25rem;

		& .no-comments-msg {
			font-size: 1.5rem;
			font-weight: 600;
			color: var(--primary-color);
			&.unauth {
				filter: blur(0.25rem);
			}
		}
	}

	& .current-user-page-header {
		font-size: 2rem;
		font-weight: bold;
		color: var(--primary-color);
	}

	& .comment-card {
		background: var(--secondary-color);
		border: 0.0625rem solid var(--primary-color);
		box-shadow: var(--card-shadow);
		border-radius: 0.5rem;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		&.curr-user {
			background: var(--secondary-color);
			border: 0.0625rem solid var(--primary-color);
		}

		& .comment-content {
			font-size: 1.25rem;
			line-height: 1.875rem;
			color: var(--text-color);
			&.unauth {
				font-size: 1.125rem;
				line-height: 1.625rem;
				filter: blur(0.25rem);
			}
		}

		& .comment-info-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-right: 2rem;
			&.unauth {
				filter: blur(0.25rem);
				pointer-events: none;
			}
			@media (width < 49rem) {
				flex-direction: column;
				gap: 1.375rem;
			}

			& .comment-info {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				@media (width < 44rem) {
					flex-direction: column;
					gap: 1.5rem;
				}
				& .comment-subtext {
					font-family: var(--subtext-font);
					font-size: 0.875rem;
					color: var(--subtext-color);
					@media (width < 32rem) {
						font-size: 0.75rem;
					}
					& .strong {
						font-weight: 600;
						color: var(--accent-color-one);
						filter: contrast(75%);
						&.curr-user {
							color: var(--accent-color-one);
						}
						&.user {
							color: var(--accent-color-one);
						}
						& .user-link {
							text-decoration: none;
							color: var(--accent-color-one);
						}
					}
				}

				& .comment-counts {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.375rem;
					font-style: italic;
					color: var(--accent-color-three);

					& .replies-count-wrapper {
						position: relative;

						& .replies-tooltip {
							display: none;
							flex-direction: column;
							gap: 0.375rem;
							position: absolute;
							right: 0;
							translate: 0 0.5rem;
							z-index: 1;
							font-size: 0.875rem;
							color: var(--accent-color-two);
							background: var(--secondary-color);
							border: 0.0625rem solid var(--accent-color-two);
							border-radius: 0.375rem;
							box-shadow: var(--tooltip-shadow);
							padding: 0.5rem 0.625rem;
							&.curr-user {
							}

							& .reply-username {
								display: flex;
								align-items: center;
								gap: 0.25rem;
								margin-left: 0.0625rem;
								font-style: normal;
								font-weight: 500;
								&::before {
									content: '•';
								}
							}
						}
						&:hover .replies-tooltip {
							animation: tooltip-hover 0.5s ease-in-out;
							display: flex;
						}

						& .replies-count {
							text-decoration: none;
							font-weight: 700;
							color: var(--accent-color-one);
							padding: 0.25rem 0.5rem;
							transition: all 0.375s ease-in-out;
							&.curr-user {
							}
							&.user {
							}
							&.unauth:hover {
								cursor: default;
								color: var(--accent-color-one);
							}
							&:hover {
								color: var(--accent-color-two);
								&::before {
									content: '(click to view) ▸ ';
									font-size: 0.75rem;
									font-weight: 500;
									font-style: normal;
								}
							}
						}
					}

					& .count-divider {
						font-style: normal;
						color: var(--text-color);
					}

					& .likes-count-wrapper {
						position: relative;
						cursor: default;

						& .likes-tooltip {
							display: none;
							flex-direction: column;
							gap: 0.375rem;
							position: absolute;
							left: 0;
							translate: 0 0.5rem;
							z-index: 1;
							font-size: 0.875rem;
							color: var(--accent-color-two);
							background: var(--secondary-color);
							border: 0.0625rem solid var(--accent-color-two);
							border-radius: 0.375rem;
							box-shadow: var(--tooltip-shadow);
							padding: 0.5rem 0.625rem;
							&.curr-user {
							}

							& .likes-username {
								display: flex;
								align-items: center;
								gap: 0.25rem;
								margin-left: 0.0625rem;
								font-style: normal;
								font-weight: 500;
								&::before {
									content: '•';
								}
							}
						}
						&:hover .likes-tooltip {
							animation: tooltip-hover 0.5s ease-in-out;
							display: flex;
						}

						& .likes-count {
							font-weight: 700;
							color: var(--accent-color-one);
							padding: 0.25rem 0.5rem;
							transition: all 0.375s ease-in-out;
							&.curr-user {
							}
							&.user {
							}
							&.unauth:hover {
								cursor: default;
								color: var(--accent-color-one);
							}
							&:hover {
								color: var(--accent-color-two);
							}
						}
					}
				}
			}

			& .comment-actions {
				padding-left: 2rem;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				@media (width < 49rem) {
					width: 100%;
					margin-top: 1.5rem;
					padding-left: unset;
					gap: unset;
					justify-content: space-evenly;
				}

				& .action-btn-wrapper {
					position: relative;
					display: flex;
					place-content: center;
					place-items: center;

					& .action-tooltip {
						display: none;
						justify-content: center;
						align-items: center;
						position: absolute;
						z-index: 1;
						font-size: 0.75rem;
						font-weight: 500;
						text-align: center;
						color: var(--accent-color-one);
						background: var(--secondary-color);
						border: 0.0625rem solid var(--accent-color-one);
						border-radius: 0.875rem;
						padding: 0.125rem 0.375rem;
						&.reply {
							translate: -50% -160%;
						}
						&.like {
							translate: 50% -150%;
						}
						&.unlike,
						&.delete {
							translate: 50% -160%;
						}
						&.edit {
							translate: 0 -160%;
						}
					}
					&:hover .action-tooltip {
						animation: tooltip-hover 0.625s linear forwards;
						display: flex;
					}

					& .action-btn {
						all: unset;
						aspect-ratio: 1/1;
						width: 2rem;
						background-size: contain;
						background-repeat: no-repeat;
						cursor: pointer;
						transition: 0.25s linear;
						&.reply {
							background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+PHBhdGggZmlsbD0iaHNsKDE4MCwgODIlLCA0NCUpIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTguNCAxOS41djMuNHEwIDAuNyAwLjUgMS4ydDEuMSAwLjVxMC43IDAgMS4xLTAuNXQwLjUtMS4ydi0zLjRoMy4ycTAuNyAwIDEuMS0wLjV0MC41LTEuMnEwLTAuNy0wLjUtMS4ydC0xLjEtMC41aC0zLjJ2LTMuNHEwLTAuNy0wLjUtMS4ydC0xLjEtMC41cS0wLjcgMC0xLjEgMC41dC0wLjUgMS4ydjMuNGgtMy4ycS0wLjcgMC0xLjEgMC41dC0wLjUgMS4ycTAgMC43IDAuNSAxLjJ0MS4xIDAuNWgzLjJ6bS04IDEybC0zLjcgNHEtMC44IDAuOC0xLjcgMC40dC0xLTEuNnYtMjYuOXEwLTEuNCAwLjktMi40dDIuMy0xaDI1LjZxMS4zIDAgMi4zIDF0MC45IDIuNHYyMC42cTAgMS40LTAuOSAyLjR0LTIuMyAxaC0yMi40em0tMy4yLTMuNGgyNS42di0yMC42aC0yNS42djIwLjZ6bTAgMHYtMjAuNnYyMC42WiIgLz48L3N2Zz4=');
						}
						&.like {
							background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+PHBhdGggZmlsbD0iaHNsKDE4MCwgODIlLCA0NCUpIiBzdHJva2U9ImhzbCgxODAsIDgyJSwgNDQlKSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTMxLjUgMTQuN2gtNi45di03LjFhMy42IDMuNCA5MCAwIDAtMy40LTMuNmgtMi40YTIuNCAyLjMgOTAgMCAwLTIuMyAybC0xIDdsLTQuMSA2LjRoLTcuNHYxNi42aDI0YTguMyA4IDkwIDAgMCA4LTguM3YtOC4zYTQuNyA0LjYgOTAgMCAwLTQuNi00Ljd6bS0yMC42IDE5aC00LjZ2LTExLjloNC42em0yMi45LTUuOWE1LjkgNS43IDkwIDAgMS01LjcgNS45aC0xNC45di0xMi43bDQuNS03bDEtNy41aDIuNGExLjIgMS4xIDkwIDAgMSAxLjEgMS4ydjkuNWg5LjFhMi40IDIuMyA5MCAwIDEgMi4zIDIuNFoiIC8+PC9zdmc+');
						}
						&.unlike {
							background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+PHBhdGggZmlsbD0iaHNsKDE4MCwgODIlLCA0NCUpIiBzdHJva2U9ImhzbCgxODAsIDgyJSwgNDQlKSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTguNSAyNS4zaDYuOXY3LjFhMy42IDMuNCAyNzAgMCAwIDMuNCAzLjZoMi40YTIuNCAyLjMgMjcwIDAgMCAyLjMtMmwxLTdsNC4xLTYuNGg3LjR2LTE2LjZoLTI0YTguMyA4IDI3MCAwIDAtOCA4LjN2OC4zYTQuNyA0LjYgMjcwIDAgMCA0LjYgNC43em0yMC42LTE5aDQuNnYxMS45aC00LjZ6bS0yMi45IDUuOWE1LjkgNS43IDI3MCAwIDEgNS43LTUuOWgxNC45djEyLjdsLTQuNSA3bC0xIDcuNWgtMi40YTEuMiAxLjEgMjcwIDAgMS0xLjEtMS4ydi05LjVoLTkuMWEyLjQgMi4zIDI3MCAwIDEtMi4zLTIuNFoiIC8+PC9zdmc+');
						}
						&.edit {
							background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+PHBhdGggZmlsbD0iaHNsKDE4MCwgODIlLCA0NCUpIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNNy41IDMyLjVoMi41bDE1LjEtMTUuMWwtMi41LTIuNWwtMTUuMSAxNS4xdjIuNXptMjUuMS0xNy43bC03LjUtNy40bDIuNS0yLjVxMS0xIDIuNS0xdDIuNSAxbDIuNSAyLjVxMSAxIDEgMi40dC0xIDIuNGwtMi41IDIuNXptLTIuNSAyLjZsLTE4LjYgMTguNmgtNy41di03LjVsMTguNi0xOC42bDcuNSA3LjV6bS02LjItMS4zbC0xLjItMS4ybDIuNSAyLjVsLTEuMi0xLjJaIiAvPjwvc3ZnPg==');
						}
						&.delete {
							background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+PHBhdGggZmlsbD0iaHNsKDE4MCwgODIlLCA0NCUpIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTAgMzZxLTEuNiAwLTIuOC0xdC0xLjItMi41di0yMy4xaC0ydi0zLjZoMTB2LTEuOGgxMnYxLjhoMTB2My42aC0ydjIzLjFxMCAxLjUtMS4yIDIuNXQtMi44IDFoLTIwem0yMC0yNi43aC0yMHYyMy4xaDIwdi0yMy4xem0tMTYgMTkuNmg0di0xNmgtNHYxNnptOCAwaDR2LTE2aC00djE2WiIgLz48L3N2Zz4=');
						}
						&:hover {
							scale: 1.375;
						}
					}
				}
			}
		}
		
		& .comment-replies-divider {
			width: 100%;

			& .comment-replies-divider-line {
				background: var(--primary-color);
				border-style: none;
				height: 0.125rem;
				margin: 1rem 2.5%;
				&.curr-user {
					background: var(--primary-color);
				}
			}
		}

		& .comment-replies-label {
			font-size: 1.25rem;
			font-weight: bold;
			color: var(--primary-color);
		}

		& .comment-reply-content {
			color: var(--text-color);
			font-size: 1.125rem;
			font-weight: 500;
			width: 95%;
			margin: auto;
			border: 0.0625rem solid var(--primary-color);
			background: var(--secondary-color);
			padding: 0.75rem;
			border-radius: 0.5rem;
			box-shadow: var(--replies-card-shadow);
			display: flex;
			flex-direction: column;
			gap: 0.75rem;
			@media (width < 32rem) {
				font-size: 1rem;
			}

			& .comment-replies-info-container {
				display: flex;
				align-items: center;
				justify-content: space-between;
				@media (width < 29rem) {
					flex-direction: column;
					gap: 1rem;
					& .comment-replies-subtext {
						align-self: flex-start;
					}
				}
				& .comment-replies-subtext {
					color: var(--subtext-color);
					font-family: var(--subtext-font);
					font-size: 0.875rem;
					font-style: italic;
					@media (width < 32rem) {
						font-size: 0.75rem;
					}
					& .strong {
						font-weight: 600;
						color: var(--accent-color-one);
						filter: contrast(75%);
						&.curr-user {
							color: var(--accent-color-one);
						}
						&.user {
							color: var(--accent-color-one);
						}
					}
				}

				& .comment-reply-actions {
					display: flex;
					justify-content: center;
					align-items: center;

					& .action-btn {
						background: transparent;
						border: none;
						aspect-ratio: 1/1;
						width: 2.5rem;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						&.delete {
						}
						& .action-btn-icon {
							fill: var(--accent-color-one);
							transition: transform 0.25s linear;

							&.delete:hover {
								fill: var(--hover-color);
							}
						}
						&:hover .action-btn-icon {
							transform: scale(1.375);
						}
					}
				}
			}
		}
	}

	& .comment-reply-modal {
		width: 80%;
		height: 60vh;
		margin: auto;
		border: none;
		border-radius: 0.5rem;
		padding: 2rem 2.25rem;
		&::backdrop {
			/* background: hsla(var(--primary-color-hsl), 0.5); */
			background: hsla(204, 100%, 12%, 0.5);
		}
		@media (width < 49rem) {
			width: 90%;
			padding: 1.5rem 1.75rem;
			height: 75%;
		}

		& .comment-reply-form {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 2rem;
			height: 100%;
			/* overflow-y: auto; */

			& .comment-reply-comment-card {
				width: 100%;
				background: var(--secondary-color);
				border: 0.0625rem solid var(--primary-color);
				box-shadow: var(--card-shadow);
				border-radius: 0.5rem;
				padding: 1rem;
				display: flex;
				flex-direction: column;
				gap: 0.75rem;

				& .comment-reply-comment-content {
					font-size: 1.125rem;
					line-height: 1.75rem;
					color: var(--text-color);
					@media (width < 32rem) {
						font-size: 1rem;
					}
				}

				& .comment-reply-comment-subtext {
					font-family: var(--subtext-font);
					font-size: 0.875rem;
					color: var(--subtext-color);
					@media (width < 32rem) {
						font-size: 0.75rem;
					}
					&.strong {
						font-weight: 600;
						color: var(--accent-color-one);
						filter: contrast(75%);
					}
				}
			}

			& .comment-reply-textbox {
				width: 100%;
				height: 100%;
				font-size: 1.25rem;
				font-family: inherit;
				line-height: 1.625rem;
				color: hsla(210, 11%, 15%, 1);
				background: var(--accent-color-three);
				filter: brightness(115%);
				border: 0.0625rem solid hsla(210, 14%, 89%, 1);
				border-radius: 0.5rem;
				padding: 0.375rem 0.75rem;
				resize: none;
				box-shadow: var(--textbox-shadow);
				&::placeholder {
					color: var(--subtext-color);
				}
				@media (width < 49rem) {
					font-size: 1.125rem;
				}
				@media (width < 32rem) {
					font-size: 1rem;
				}
			}

			& .comment-reply-actions {
				display: flex;
				gap: 1.5rem;
				align-self: flex-end;

				& .action-btn {
					color: var(--secondary-color);
					border: 0.0625rem solid transparent;
					font-family: inherit;
					font-weight: 500;
					padding: 0.5rem 0.75rem;
					border-radius: 0.375rem;
					font-size: 1rem;
					cursor: pointer;
					transition: all 0.25s ease-in-out;
					&.reply {
						background: var(--accent-color-one);
					}
					&.cancel {
						background: var(--accent-color-two);
					}
					&:hover {
						filter: brightness(90%);
						color: var(--primary-color);
						box-shadow: var(--button-shadow);
						border-color: var(--primary-color);
					}
					&:active {
						filter: brightness(75%);
					}
				}
			}
		}
	}

	& .comment-edit-modal {
		width: 80%;
		height: 60vh;
		margin: auto;
		border: none;
		border-radius: 0.5rem;
		padding: 2rem 2.5rem;
		&::backdrop {
			/* background: hsla(var(--primary-color-hsl), 0.5); */
			background: hsla(204, 100%, 12%, 0.5);
		}
		@media (width < 49rem) {
			width: 90%;
			padding: 1.5rem 1.75rem;
			height: 75%;
		}

		& .comment-edit-form {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 1.25rem;
			height: 100%;

			& .comment-edit-textbox {
				width: 100%;
				height: 100%;
				font-size: 1.25rem;
				font-family: inherit;
				line-height: 1.625rem;
				color: hsla(210, 11%, 15%, 1);
				background: var(--accent-color-three);
				filter: brightness(115%);
				border: 0.0625rem solid hsla(210, 14%, 89%, 1);
				border-radius: 0.5rem;
				padding: 0.375rem 0.75rem;
				resize: none;
				box-shadow: var(--textbox-shadow);
				&::placeholder {
					color: var(--subtext-color);
				}
				@media (width < 49rem) {
					font-size: 1.125rem;
				}
			}

			& .comment-edit-actions {
				display: flex;
				gap: 1.5rem;
				align-self: flex-end;

				& .action-btn {
					color: var(--secondary-color);
					border: 0.0625rem solid transparent;
					font-family: inherit;
					font-weight: 500;
					padding: 0.5rem 0.75rem;
					border-radius: 0.375rem;
					font-size: 1rem;
					cursor: pointer;
					transition: all 0.25s ease-in-out;
					&.save {
						background: var(--accent-color-one);
					}
					&.cancel {
						background: var(--accent-color-two);
					}
					&:hover {
						filter: brightness(90%);
						color: var(--primary-color);
						box-shadow: var(--button-shadow);
						border-color: var(--primary-color);
					}
					&:active {
						filter: brightness(75%);
					}
				}
			}
		}
	}
}
