.login-msg-wrapper {
	width: 100%;
	background: var(--accent-color-two);
	min-height: 7.5vh;
	border-radius: 0.375rem;
	padding: 0.5rem 0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;

	& .login-msg {
		color: var(--secondary-color);
		font-size: clamp(1.25rem, 0.909rem + 1.364vw, 2rem);
		font-weight: 700;
	}
}
