.user-activity-heading-container {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	& .user-activity-title {
		text-align: center;
		font-size: clamp(1.125rem, 0.5rem + 2.5vw, 2.5rem);
		font-weight: 600;
		color: var(--primary-color);

		& .username {
			background: var(--accent-color-two);
			padding: 0.25rem 0.675rem;
			border: 0.125rem solid var(--primary-color);
			border-radius: 0.5rem;
		}
	}

	& .user-activity-stats-container {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 1rem;

		& .user-stat-type-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.25rem 0.5rem;
			border-radius: 0.5rem;
			position: relative;
			background: var(--accent-color-three);
			&.selected {
				border: 0.125rem solid var(--primary-color);
				background: var(--accent-color-two);
				&::after {
					content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzZW0iIGhlaWdodD0iM2VtIiB2aWV3Qm94PSIwIDAgMjAgMTQiPjxwYXRoIGZpbGw9ImhzbCgyMDQsIDEwMCUsIDEyJSkiIGQ9Ik0gMTAuNCAxMS44IGwgNy4zIC04LjMgYyAwLjUgLTAuNSAwLjIgLTEuNSAtMC40IC0xLjUgaCAtMTQuNyBjIC0wLjYgMCAtMC45IDEgLTAuNCAxLjUgbCA3LjMgOC4zIGMgMC4yIDAuMyAwLjYgMC4zIDAuOCAwIFoiLz48L3N2Zz4=');
					position: absolute;
					bottom: 0;
					transform: translateY(100%);
				}
			}

			& .user-stat-type-link {
				font-weight: 600;
				color: var(--secondary-color);
				font-size: clamp(0.75rem, 0.409rem + 1.364vw, 1.5rem);
				padding: 0.375rem clamp(0.5rem, 0.386rem + 0.455vw, 0.75rem);
				text-decoration: none;
				font-family: var(--primary-font);
				cursor: pointer;
				&.selected {
					color: var(--primary-color);
				}
			}
		}
	}
}

.user-comments-list-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	& .user-comment-card {
		background: var(--secondary-color);
		border: 0.0625rem solid var(--primary-color);
		border-radius: 0.5rem;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		&.highlight {
			box-shadow: var(--user-highlight-shadow);
			border-color: var(--accent-color-two);
			border-width: 0.125rem;
			border-bottom-width: 0.1875rem;
		}

		& .user-comment-content-wrapper {
			display: flex;
			flex-direction: column;
			gap: 0.75rem;

			& .user-comment-text {
				font-size: clamp(0.875rem, 0.705rem + 0.682vw, 1.25rem);
				line-height: clamp(1.375rem, 1.148rem + 0.909vw, 1.875rem);
				color: var(--text-color);
			}

			& .user-comment-subtext {
				width: 90%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				@media (width < 48rem) {
					flex-direction: column;
					gap: 1.5rem;
				}

				& .user-comment-post-info {
					font-family: var(--subtext-font);
					font-size: clamp(0.688rem, 0.545rem + 0.568vw, 1rem);
					color: var(--subtext-color);

					& .user-strong {
						font-weight: 600;
						color: var(--accent-color-one);
						filter: contrast(75%);

						& .user-link {
							text-decoration: none;
							color: var(--accent-color-one);
						}
					}
				}

				& .user-comment-counts {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.375rem;
					font-style: italic;
					color: var(--accent-color-three);

					& .user-comment-count-text {
						font-weight: 700;
						color: var(--accent-color-one);
						padding: 0.25rem 0.5rem;
					}

					& .user-comment-count-divider {
						font-style: normal;
						color: var(--text-color);
					}
				}
			}
		}

		& .user-info-divider {
			width: 100%;

			& .user-info-divider-line {
				background: var(--primary-color);
				border-style: none;
				height: 0.125rem;
				margin: 1rem 2.5%;
			}
		}

		& .user-replies-container {
			display: flex;
			flex-direction: column;
			gap: 1.25rem;

			& .user-replies-label {
				font-size: clamp(1.125rem, 0.955rem + 0.682vw, 1.5rem);
				font-weight: bold;
				color: var(--primary-color);

				&.empty {
					text-align: center;
					color: var(--accent-color-two);
				}
			}

			& .user-reply-cards-container {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				& .user-reply-card {
					width: 95%;
					margin: auto;
					border: 0.0625rem solid var(--primary-color);
					background: var(--secondary-color);
					padding: 0.75rem;
					border-radius: 0.5rem;
					display: flex;
					flex-direction: column;
					gap: 0.75rem;
					&.highlight {
						box-shadow: var(--user-highlight-shadow);
						border-color: var(--accent-color-two);
						border-width: 0.125rem;
						border-bottom-width: 0.1875rem;
					}

					& .user-reply-content-wrapper {
						display: flex;
						flex-direction: column;
						gap: 0.625rem;

						& .user-reply-text {
							color: var(--text-color);
							font-size: clamp(0.75rem, 0.58rem + 0.682vw, 1.125rem);
							font-weight: 500;
						}

						& .user-reply-subtext {
							color: var(--subtext-color);
							font-family: var(--subtext-font);
							font-size: clamp(0.688rem, 0.602rem + 0.341vw, 0.875rem);
							font-style: italic;

							& .user-strong {
								font-weight: 600;
								color: var(--accent-color-one);
								filter: contrast(75%);

								& .user-link {
									text-decoration: none;
									color: var(--accent-color-one);
								}
							}
						}
					}
				}
			}
		}

		& .user-likes-container {
			display: flex;
			flex-direction: column;
			gap: 1.25rem;

			& .user-likes-label {
				font-size: clamp(1.125rem, 0.955rem + 0.682vw, 1.5rem);
				font-weight: bold;
				color: var(--primary-color);

				&.empty {
					text-align: center;
					color: var(--accent-color-two);
				}
			}

			& .user-likes-content-wrapper {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: clamp(1rem, 0.091rem + 3.636vw, 3rem);
				width: 95%;
				margin: auto;

				& .user-like-username-btn {
					text-decoration: none;

					& .user-like-username {
						border: 0.125rem solid var(--primary-color);
						border-radius: 0.75rem;
						padding: 0.625rem clamp(0.75rem, 0.636rem + 0.455vw, 1rem);
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: clamp(0.75rem, 0.58rem + 0.682vw, 1.125rem);
						font-weight: 600;
						color: var(--primary-color);
						background: var(--accent-color-three);
						filter: brightness(115%);
						&.highlight {
							box-shadow: var(--user-highlight-shadow);
							border-color: var(--accent-color-two);
							border-width: 0.25rem;
							border-bottom-width: 0.3125rem;
							/* filter: brightness(100%); */
						}
					}
				}
			}
		}
	}
}
