<div class="comments-list-container">
  {% if comments|length == 0 %}
  <div class="no-comments-message">
    No comments posted yet...login and be the first!!
  </div>
  {% else %}
  {% for comment in comments|sort(reverse=true, attribute="created_at") %}
  <div class="comment-card unauth">
    <div class="comment-text">{{ comment.content }}</div>
    <div class="comment-info-container">
      <div class="comment-subtext">
        Posted by <span class="strong">{{ comment.user.username }}</span> on <span class="strong">{{ comment.created_at|clean_date }}</span>
      </div>
      <div class="comment-counts">
        <div class="replies-count-wrapper">
          <span class="replies-count unauth">{{ comment.replies|length|pluralize_reply }}</span>
        </div>
        <span class="count-divider">|</span>
        <div class="likes-count-wrapper">
          <span class="likes-count unauth">{{ comment.likes|length|pluralize_like }}</span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>