{% block script %}
<link rel="stylesheet" href="../static/styles/replyComment.css" />
{% endblock script %}

{% if current_user.is_authenticated %}
<dialog class="comment-reply-modal" data-comment-reply>
  <form class="comment-reply-form" method="POST" data-comment-reply-form>
    <div class="comment-reply-comment-card">
      <div class="comment-reply-comment-content" data-comment-reply-comment></div>
      <div class="comment-reply-comment-subtext">
        Posted by <span class="strong" data-comment-reply-username></span> on <span class="strong"
          data-comment-reply-date></span>
      </div>
    </div>
    <textarea class="comment-reply-textbox" name="contents" placeholder="Write your reply..."
      data-comment-reply-text></textarea>
    <div class="comment-reply-actions">
      <input class="action-btn reply" type="submit" value="Reply" />
      <input class="action-btn cancel" type="button" value="Cancel" data-comment-reply-close />
    </div>
  </form>
</dialog>
{% endif %}
