<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../static/styles/styles.css" />
	{% if current_user.is_authenticated %}
	<script src="../static/javascript/helpers.js" defer></script>
	{% endif %}
	<title>Comment Forum</title>
</head>

<body>
	<nav>
		{% block nav %}{% endblock nav %}
	</nav>

	<main>
		{% block content %}{% endblock content %}
	</main>

	<dialog class="new-post-modal" data-post-modal>
		<form class="post-comment-container" action="." method="POST">
			<textarea class="post-comment-textbox" name="contents" placeholder="Post a new comment..." rows="5"></textarea>
			<div class="post-comment-actions">
				<input class="post-comment-btn" type="submit" value="Post" />
				<input class="cancel-comment-btn" type="submit" formmethod="dialog" value="Cancel" />
			</div>
		</form>
	</dialog>

</body>

</html>