{% extends 'base.html' %}

{% block script %}
<style>
  .dbt-title-wrapper {
    width: calc(100% * 2/3);
    border-bottom-width: 0.5rem;
    border-bottom-style: dotted;
    border-bottom-color: blue;
    margin: auto;
    padding-bottom: 1rem;

    & .dbt-title {
      text-align: center;

      & .dbt-title-username {
        color: blue;
        font-weight: 900;
        background: darkorange;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
      }
    }
  }

  .dbt-comment-container {
    border: 0.0625rem solid blue;
    border-radius: 0.75rem;
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & .dbt-comment-content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      & .dbt-comment-text {
        font-size: 1.125rem;
        font-weight: 500;
        color: darkslategray;
      }

      & .dbt-comment-info-wrapper {
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 2.5%;

        & .dbt-comment-post-info {
          font-size: 1rem;
          font-family: monospace;
          color: dimgray;

          & .dbt-strong {
            font-weight: 600;
            color: hsl(0, 0%, 36%);
          }
        }

        & .dbt-comment-count-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;

          & .dbt-comment-count-info {
            font-style: italic;
            font-weight: 500;
            color: blue;
          }

          & .dbt-comment-count-info-divider {
            color: black;
            font-weight: 700;
          }
        }
      }
    }

    & .dbt-comment-horizontal-divider {
      border: none;
    }

    & .dbt-reply-container {
      display: flex;
      flex-direction: column;
      width: 95%;
      margin: auto;
      gap: 1.25rem;

      & .dbt-reply-heading {
        font-size: 1.5rem;
        font-weight: 500;
      }

      & .dbt-reply-card-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & .dbt-reply-card {
          border: 0.0625rem solid blue;
          border-radius: 0.75rem;
          padding: 0.5rem 0.75rem;
          display: flex;
          flex-direction: column;
          gap: 1.25rem;

          & .dbt-reply-content-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.625rem;

            & .dbt-reply-text {
              font-size: 1rem;
              font-weight: 500;
              color: darkslategray;
            }

            & .dbt-reply-subtext {
              font-size: 0.875rem;
              font-family: monospace;
              color: dimgray;

              & .dbt-strong {
                font-weight: 600;
                color: hsl(0, 0%, 36%);
              }
            }
          }
        }
      }
    }

    & .dbt-like-container {
      display: flex;
      flex-direction: column;
      width: 95%;
      margin: auto;
      gap: 1.25rem;

      & .dbt-like-heading {
        font-size: 1.5rem;
        font-weight: 500;
      }

      & .dbt-like-content-wrapper {
        display: flex;
        align-items: center;
        gap: 3rem;

        & .dbt-like-username-btn {
          border: 0.25rem solid blue;
          border-radius: 0.5rem;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          & .dbt-like-username-link {
            font-size: 1.5rem;
            font-weight: 700;
            color: red;
          }
        }
      }
    }
  }
</style>
{% endblock script %}

{% block content %}
<div class="dbt-title-wrapper">
  <h1 class="dbt-title">
    Comment Forum Activity for
    <span class="dbt-title-username">
      {{user_data.username}}
    </span>
  </h1>
</div>

{% for comment in user_data.comments %}
<div class="dbt-comment-container">
  <div class="dbt-comment-content-wrapper">
    <div class="dbt-comment-text">
      {{comment.content}}
    </div>
    <div class="dbt-comment-info-wrapper">
      <div class="dbt-comment-post-info">
        Posted on
        <span class="dbt-strong">
          {{comment.created_at|clean_date}}
        </span>
      </div>
      <div class="dbt-comment-count-wrapper">
        <div class="dbt-comment-count-info">
          {{comment.replies|length}} replies
        </div>
        <div class="dbt-comment-count-info-divider">
          ||
        </div>
        <div class="dbt-comment-count-info">
          {{comment.likes|length}} likes
        </div>
      </div>
    </div>
  </div>
  <hr class="dbt-comment-horizontal-divider">
  <div class="dbt-reply-container">
    <div class="dbt-reply-heading">Replies...</div>
    <div class="dbt-reply-card-container">
    {% for reply in comment.replies %}
      <div class="dbt-reply-card">
        <div class="dbt-reply-content-wrapper">
          <div class="dbt-reply-text">{{ reply.content }}</div>
          <div class="dbt-reply-subtext">
            Reply from
            <span class="dbt-strong">
              {{ reply.username }}
            </span>
            on
            <span class="dbt-strong">
              {{ reply.created_at|clean_date }}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr class="dbt-comment-card-horizontal-divider">
  <div class="dbt-like-container">
    <div class="dbt-like-heading">Likes...</div>
    <div class="dbt-like-content-wrapper">
      {% for like in comment.likes %}
      <div class="dbt-like-username-btn">
        <div class="dbt-like-username-link">{{ like.username }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}