{% extends "base.html" %}

{% block nav %}
<div class="nav-container">
  <a class="nav-title" href="{{ url_for('index') }}">
    Comment Forum
  </a>
</div>
{% endblock nav %}

{% block content %}
{% if error %}
<dialog class="auth-error-container" open>
  <div class="auth-error-content-wrapper">
    <div class="auth-error-msg">
      {{ error_message }}
    </div>
    <form method="dialog">
      <button class="auth-error-close-btn">
        Close
      </button>
    </form>
  </div>
</dialog>
{% endif %}
<form class="auth-form-container" action="." method="POST">
  <input class="auth-input" type="text" id="username" name="username" placeholder="Create your username" />
  <input class="auth-input" type="password" id="password" name="password" placeholder="Create your password" />
  <div class="auth-actions">
    <input class="auth-action-btn" type="submit" value="Register" />
    <span>or</span>
    <a class="auth-action-btn" href="{{ url_for('login') }}">
      Login
    </a>
  </div>
</form>
{% endblock content %}