{% extends "base.html" %}

{% block nav %}
<div class="nav-container">
  <a class="nav-title" href="{{ url_for('index') }}">
    Comment Forum
  </a>
</div>
{% endblock nav %}

{% block content %}
{% if error %}
<dialog class="auth-error-container" open>
	<form class="auth-error-content-wrapper" method="dialog">
		<div class="auth-error-msg">
			{{ error_message }}
		</div>
		<button class="auth-error-close-btn">
			Close
		</button>
	</form>
</dialog>
{% endif %}
<form class="auth-form-container" action="." method="POST">
  <input class="auth-input" type="text" name="username" placeholder="Create your username" />
  <input class="auth-input" type="password" name="password" placeholder="Create your password" />
  <div class="auth-actions">
    <input class="action-btn" type="submit" value="Register" />
    <span>or</span>
    <a class="action-btn" href="{{ url_for('login') }}">
      Login
    </a>
  </div>
</form>
{% endblock content %}