{% extends "base.html" %}

{% block script %}
<link rel="stylesheet" href="../static/styles/comments.css" />
{% endblock script %}

{% block content %}
<div class="comments-list-container">

	<div class="{% if comment.user_id == current_user.id %}comment-card curr-user{% else %}comment-card{% endif %}">
		<div class="comment-content">{{ comment.content }}</div>
		<div class="comment-info-container">
			<div class="comment-info">
				<div class="comment-subtext">
					Posted by
					<span class="{% if comment.user_id == current_user.id %}strong curr-user{% else %}strong user{% endif %}">{{
						comment.id|comment_username }}</span>
					on
					<span class="strong">{{ comment.created_at|clean_date }}</span>
				</div>
				<div class="comment-counts">
					<div class="replies-count-wrapper">
						<span style="cursor: default"
							class="{% if comment.replies|length == 0 %}replies-count{% elif comment.user_id == current_user.id %}replies-count curr-user{% else %}replies-count user{% endif %}">
							{{ comment.replies|length|pluralize_reply }}
						</span>
						{% if comment.replies %}
						<div
							class="{% if comment.user_id == current_user.id %}replies-tooltip curr-user{% else %}replies-tooltip{% endif %}">
							{% for reply in comment.replies %}
							<span class="reply-username">{{ reply.id|reply_username }}</span>
							{% endfor %}
						</div>
						{% endif %}
					</div>
					<span class="count-divider">|</span>
					<div class="likes-count-wrapper">
						<span
							class="{% if comment.likes|length == 0 %}likes-count{% elif comment.user_id == current_user.id %}likes-count curr-user{% else %}likes-count user{% endif %}">{{
							comment.likes|length|pluralize_like }}</span>
						{% if comment.likes %}
						<div
							class="{% if comment.user_id == current_user.id %}likes-tooltip curr-user{% else %}likes-tooltip{% endif %}">
							{% for like in comment.likes %}
							<span class="likes-username">{{ like.id|like_username }}</span>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>


		<div class="comment-replies-divider">
			<hr
				class="{% if comment.user_id == current_user.id %}comment-replies-divider-line curr-user{% else %}comment-replies-divider-line{% endif %}" />
		</div>

		{% if not comment.replies %}

		<div class="comment-replies-label">This comment does not have any replies yet...</div>
		{% else %}
		<div class="comment-replies-label">Replies...</div>
		{% for reply in replies %}
		<div class="comment-reply-content">
			{{ reply.content }}
			<div class="comment-replies-info-container">
				<div class="comment-replies-subtext">
					Reply from
					<span class="{% if reply.user_id == current_user.id %}strong curr-user{% else %}strong user{% endif %}">{{
						reply.id|reply_username }}</span>
					on
					<span class="strong">{{ reply.created_at|clean_date }}</span>
				</div>
				{% if reply.user_id == current_user.id %}
				<form class="comment-reply-actions" action="{{ url_for('delete_reply', reply_id=reply.id) }}" method="POST">
					<button class="action-btn delete" type="submit">
						<svg class="action-btn-icon delete" viewBox="0 0 40 40" style="width: 2rem">
							<path
								d="M10 36q-1.6 0-2.8-1t-1.2-2.5v-23.1h-2v-3.6h10v-1.8h12v1.8h10v3.6h-2v23.1q0 1.5-1.2 2.5t-2.8 1h-20zm20-26.7h-20v23.1h20v-23.1zm-16 19.6h4v-16h-4v16zm8 0h4v-16h-4v16Z" />
						</svg>
					</button>
				</form>
				{% endif %}
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock content %}