{% extends "base.html" %}

{% block nav %}
{% include 'partials/nav_auth.html' %}
{% endblock nav %}

{% block content %}
<div
	class="{% if comment.user_id == current_user.id %}comment-container curr-user{% else %}comment-container{% endif %}">
	<div class="comment-info">
		Comment by <span class="{% if comment.user_id == current_user.id %}strong curr-user{% else %}strong other-user{% endif %}">{{ comment.user.username }}</span> on <span class="strong">{{ comment.created_at|clean_date }}:</span>
	</div>
	<div class="comment-text">{{ comment.content }}</div>
</div>
<div class="reply-input-container">
	<div class="reply-textbox-label">Reply to comment...</div>
	<form class="reply-textbox-container" action="{{ url_for('reply', comment_id=comment.id) }}" method="POST">
		<textarea class="reply-textbox" name="contents" placeholder="Write your reply..." rows="3"></textarea>
		<div class="reply-textbox-actions">
			<input class="reply-action-btn reply" type="submit" value="Reply" />
			<a class="reply-action-btn cancel" href="{{ url_for('index') }}" role="button">
				Cancel
			</a>
		</div>
	</form>
</div>
{% if replies %}
<div class="reply-divider">
	<hr class="reply-divider-line"/>
</div>
<div class="replies-list-container">
	{% for reply in replies|sort(reverse=true, attribute="created_at") %}
	<div
		class="{% if reply.user_id == current_user.id %}replies-list-item curr-user{% else %}replies-list-item{% endif %}">
		<div class="reply-text">{{ reply.content }}</div>
		<div class="reply-info-wrapper">
			<div class="reply-info">
				Reply from
				<span
					class="{% if reply.user_id == current_user.id %}strong curr-user{% else %}strong other-user{% endif %}">{{
					reply.user.username }}</span> on
				<span class="strong">{{ reply.created_at.strftime("%a, %#m/%#d/%y") }}</span>
			</div>
			{% if reply.user_id == current_user.id %}
			<form class="reply-action" action="{{ url_for('delete_reply', reply_id=reply.id) }}" method="POST">
				<button class="delete-btn" type="submit">
					<svg viewBox="0 0 40 40">
						<path
							d="M10 36q-1.6 0-2.8-1t-1.2-2.5v-23.1h-2v-3.6h10v-1.8h12v1.8h10v3.6h-2v23.1q0 1.5-1.2 2.5t-2.8 1h-20zm20-26.7h-20v23.1h20v-23.1zm-16 19.6h4v-16h-4v16zm8 0h4v-16h-4v16Z" />
					</svg>
				</button>
			</form>
			{% endif %}
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}
{% endblock content %}