{% extends 'base.html' %}

{% block script %}
<link rel="stylesheet" href="../static/styles/userInfo.css" />
{% endblock script %}

{% block content %}
<div class="dbt-title-wrapper">
  <div class="dbt-title">
    Comment Forum Activity for
    <span class="dbt-title-username">
      {{user_data.username}}
    </span>
  </div>
</div>



<div class="dbt-user-stats-container">
  <div class="{% if type == 'comments' %}dbt-user-stat highlight{% else %}dbt-user-stat{% endif %}">
    Comments: {{ comments|length }}
  </div>
  <div class="{% if type == 'replies' %}dbt-user-stat highlight{% else %}dbt-user-stat{% endif %}">
    Replies: {{ replies|length }}
  </div>
  <div class="{% if type == 'likes' %}dbt-user-stat highlight{% else %}dbt-user-stat{% endif %}">
    Likes: {{ likes|length }}
  </div>
</div>

{% if type == "comments" %}
<div class="dbt-user-type-heading">
  All comments posted by
  <span class="dbt-user-type-heading-username">
    {{ user_data.username }}
  </span>
  :
</div>

{% for comment in user_data.comments %}
<div class="dbt-comment-container highlight">
  <div class="dbt-comment-content-wrapper">
    <div class="dbt-comment-text">
      {{comment.content}}
    </div>
    <div class="dbt-comment-info-wrapper">
      <div class="dbt-comment-post-info">
        Posted on
        <span class="dbt-strong">
          {{comment.created_at|clean_date}}
        </span>
      </div>
      <div class="dbt-comment-count-wrapper">
        <div class="dbt-comment-count-info">
          {{comment.replies|length}} replies
        </div>
        <div class="dbt-comment-count-info-divider">
          ||
        </div>
        <div class="dbt-comment-count-info">
          {{comment.likes|length}} likes
        </div>
      </div>
    </div>
  </div>
  <hr class="dbt-comment-horizontal-divider">
  <div class="dbt-reply-container">
    <div class="dbt-reply-heading">Replies...</div>
    <div class="dbt-reply-card-container">
      {% for reply in comment.replies %}
      <div class="dbt-reply-card">
        <div class="dbt-reply-content-wrapper">
          <div class="dbt-reply-text">{{ reply.content }}</div>
          <div class="dbt-reply-subtext">
            Reply from
            <span class="dbt-strong">
              {{ reply.username }}
            </span>
            on
            <span class="dbt-strong">
              {{ reply.created_at|clean_date }}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr class="dbt-comment-horizontal-divider">
  <div class="dbt-like-container">
    <div class="dbt-like-heading">Likes...</div>
    <div class="dbt-like-content-wrapper">
      {% for like in comment.likes %}
      <a class="dbt-like-username-btn" href="#">
        <div class="dbt-like-username">
          {{ like.username }}
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}

{% elif type == "replies" %}
<div class="dbt-user-type-heading">
  All replies from
  <span class="dbt-user-type-heading-username">
    {{ user_data.username }}
  </span>
  :
</div>

{% for reply in user_data.replies %}
<div class="dbt-comment-container">
  <div class="dbt-comment-content-wrapper">
    <div class="dbt-comment-text">
      {{ reply.comment.content }}
    </div>
    <div class="dbt-comment-info-wrapper">
      <div class="dbt-comment-post-info">
        Posted by
        <span class="dbt-strong">
          {{ reply.comment.username }}
        </span>
        on
        <span class="dbt-strong">
          {{ reply.comment.created_at|clean_date }}
        </span>
      </div>
      <div class="dbt-comment-count-wrapper">
        <div class="dbt-comment-count-info">
          {{ reply.comment.total_replies }} replies
        </div>
        <div class="dbt-comment-count-info-divider">
          ||
        </div>
        <div class="dbt-comment-count-info">
          {{ reply.comment.total_likes }} likes
        </div>
      </div>
    </div>
  </div>
  <hr class="dbt-comment-horizontal-divider">
  <div class="dbt-reply-container">
    <div class="dbt-reply-heading">Replies...</div>
    <div class="dbt-reply-card-container">
      {% for comment_reply in reply.comment.replies %}
      <div
        class="{% if user_data.username == comment_reply.reply_username %}dbt-reply-card highlight{% else %}dbt-reply-card{% endif %}">
        <div class="dbt-reply-content-wrapper">
          <div class="dbt-reply-text">{{ comment_reply.reply_content }}</div>
          <div class="dbt-reply-subtext">
            Reply from
            <span class="dbt-strong">
              {{ comment_reply.reply_username }}
            </span>
            on
            <span class="dbt-strong">
              {{ comment_reply.reply_created_at|clean_date }}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr class="dbt-comment-horizontal-divider">
  <div class="dbt-like-container">
    <div class="dbt-like-heading">Likes...</div>
    <div class="dbt-like-content-wrapper">
      {% for like in reply.comment.likes %}
      <a class="dbt-like-username-btn" href="#">
        <div class="dbt-like-username">
          {{ like.username }}
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}

{% elif type == "likes" %}
<div class="dbt-user-type-heading">
  All likes by
  <span class="dbt-user-type-heading-username">
    {{ user_data.username }}
  </span>
  :
</div>

{% for like in user_data.likes %}
<div class="dbt-comment-container">
  <div class="dbt-comment-content-wrapper">
    <div class="dbt-comment-text">
      {{ like.content }}
    </div>
    <div class="dbt-comment-info-wrapper">
      <div class="dbt-comment-post-info">
        Posted by
        <span class="dbt-strong">
          {{ like.username }}
        </span>
        on
        <span class="dbt-strong">
          {{ like.created_at|clean_date }}
        </span>
      </div>
      <div class="dbt-comment-count-wrapper">
        <div class="dbt-comment-count-info">
          {{ like.total_replies }} replies
        </div>
        <div class="dbt-comment-count-info-divider">
          ||
        </div>
        <div class="dbt-comment-count-info">
          {{ like.total_likes }} likes
        </div>
      </div>
    </div>
  </div>
  <hr class="dbt-comment-horizontal-divider">
  <div class="dbt-reply-container">
    <div class="dbt-reply-heading">Replies...</div>
    <div class="dbt-reply-card-container">
      {% for comment_reply in like.replies %}
      <div
        class="dbt-reply-card">
        <div class="dbt-reply-content-wrapper">
          <div class="dbt-reply-text">
            {{ comment_reply.content }}
          </div>
          <div class="dbt-reply-subtext">
            Reply from
            <span class="dbt-strong">
              {{ comment_reply.username }}
            </span>
            on
            <span class="dbt-strong">
              {{ comment_reply.created_at }}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr class="dbt-comment-horizontal-divider">
  <div class="dbt-like-container">
    <div class="dbt-like-heading">Likes...</div>
    <div class="dbt-like-content-wrapper">
      {% for comment_like in like.likes %}
      <a class="dbt-like-username-btn" href="#">
        <div class="{% if user_data.username == comment_like.username %}dbt-like-username highlight{% else %}dbt-like-username{% endif %}">
          {{ comment_like.username }}
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% endblock content %}