{% extends 'base.html' %}

{% block script %}
<link rel="stylesheet" href="../static/styles/userInfo.css" />
{% endblock script %}

{% block content %}
<div class="user-activity-heading-container">
  <div class="user-activity-title">
    Forum Activity for <span class="username">{{user_data.username}}</span>
  </div>
  <div class="user-activity-stats-container">
    <div class="user-stat-type-wrapper {% if type == 'comments' %}comments selected{% endif %}"">
      <a class=" user-stat-type-link {% if type=='comments' %}selected{% endif %}"
      href="{{ url_for('user_comments', user_id=user_data.id) }}">
      {{ total_comments|pluralize_comment|upper }}
      </a>
    </div>
    <div class="user-stat-type-wrapper {% if type == 'replies' %}replies selected{% endif %}">
      <a class="user-stat-type-link {% if type == 'replies' %}selected{% endif %}"
        href="{{ url_for('user_replies', user_id=user_data.id) }}">
        {{ total_replies|pluralize_reply|upper }}
      </a>
    </div>
    <div class="user-stat-type-wrapper {% if type == 'likes' %}likes selected{% endif %}">
      <a class="user-stat-type-link {% if type == 'likes' %}selected{% endif %}"
        href="{{ url_for('user_likes', user_id=user_data.id) }}">
        {{ total_likes|pluralize_like|upper }}
      </a>
    </div>
  </div>
</div>

{% if type == "comments" %}
<div class="user-comments-list-container">
  {% for comment in user_data.comments %}
  <div class="user-comment-card {% if user_data.username == comment.username %}highlight{% endif %}">
    <div class="user-comment-content-wrapper">
      <div class="user-comment-text">
        {{comment.content}}
      </div>
      <div class="user-comment-subtext">
        <div class="user-comment-post-info">
          Posted by
          <span class="user-strong">
            <a class="user-link" href="{{ url_for('user_comments', user_id=comment.user_id) }}">
              {{ comment.username }}
            </a>
          </span>
          on
          <span class="user-strong">
            {{comment.created_at|clean_date}}
          </span>
        </div>
        <div class="user-comment-counts">
          <div class="user-comment-count-text">
            {{comment.replies|length|pluralize_reply}}
          </div>
          <span class="user-comment-count-divider">
            |
          </span>
          <div class="user-comment-count-text">
            {{comment.likes|length|pluralize_like}}
          </div>
        </div>
      </div>
    </div>
    <div class="user-info-divider">
      <hr class="user-info-divider-line">
    </div>
    <div class="user-replies-container">
      {% if not comment.replies %}
      <div class="user-replies-label empty">
        This comment does not have any replies yet.
      </div>
      {% else %}
      <div class="user-replies-label">Replies...</div>
      <div class="user-reply-cards-container">
        {% for reply in comment.replies %}
        <div class="user-reply-card {% if user_data.username == reply.username %}highlight{% endif %}">
          <div class="user-reply-content-wrapper">
            <div class="user-reply-text">{{ reply.content }}</div>
            <div class="user-reply-subtext">
              Reply from
              <span class="user-strong">
                <a class="user-link" href="{{ url_for('user_comments', user_id=reply.user_id) }}">
                  {{ reply.username }}
                </a>
              </span>
              on
              <span class="user-strong">
                {{ reply.created_at|clean_date }}
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="user-info-divider">
      <hr class="user-info-divider-line">
    </div>
    <div class="user-likes-container">
      {% if not comment.likes %}
      <div class="user-likes-label empty">
        This comment does not have any likes yet.
      </div>
      {% else %}
      <div class="user-likes-label">Likes...</div>
      <div class="user-likes-content-wrapper">
        {% for like in comment.likes %}
        <a class="user-like-username-btn" href="{{ url_for('user_comments', user_id=like.user_id) }}">
          <div class="user-like-username {% if user_data.username == like.username %}highlight{% endif %}">
            {{ like.username }}
          </div>
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% elif type == "replies" %}
<div class="user-comments-list-container">
  {% for comment in user_data.replies %}
  <div class="user-comment-card {% if user_data.username == comment.username %}highlight{% endif %}">
    <div class="user-comment-content-wrapper">
      <div class="user-comment-text">
        {{comment.content}}
      </div>
      <div class="user-comment-subtext">
        <div class="user-comment-post-info">
          Posted by
          <span class="user-strong">
            <a class="user-link" href="{{ url_for('user_comments', user_id=comment.user_id) }}">
              {{ comment.username }}
            </a>
          </span>
          on
          <span class="user-strong">
            {{comment.created_at|clean_date}}
          </span>
        </div>
        <div class="user-comment-counts">
          <div class="user-comment-count-text">
            {{comment.replies|length|pluralize_reply}}
          </div>
          <span class="user-comment-count-divider">
            |
          </span>
          <div class="user-comment-count-text">
            {{comment.likes|length|pluralize_like}}
          </div>
        </div>
      </div>
    </div>
    <div class="user-info-divider">
      <hr class="user-info-divider-line">
    </div>
    <div class="user-replies-container">
      {% if not comment.replies %}
      <div class="user-replies-label empty">
        This comment does not have any replies yet.
      </div>
      {% else %}
      <div class="user-replies-label">Replies...</div>
      <div class="user-reply-cards-container">
        {% for reply in comment.replies %}
        <div class="user-reply-card {% if user_data.username == reply.username %}highlight{% endif %}">
          <div class="user-reply-content-wrapper">
            <div class="user-reply-text">{{ reply.content }}</div>
            <div class="user-reply-subtext">
              Reply from
              <span class="user-strong">
                <a class="user-link" href="{{ url_for('user_comments', user_id=reply.user_id) }}">
                  {{ reply.username }}
                </a>
              </span>
              on
              <span class="user-strong">
                {{ reply.created_at|clean_date }}
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="user-info-divider">
      <hr class="user-info-divider-line">
    </div>
    <div class="user-likes-container">
      {% if not comment.likes %}
      <div class="user-likes-label empty">
        This comment does not have any likes yet.
      </div>
      {% else %}
      <div class="user-likes-label">Likes...</div>
      <div class="user-likes-content-wrapper">
        {% for like in comment.likes %}
        <a class="user-like-username-btn" href="{{ url_for('user_comments', user_id=like.user_id) }}">
          <div class="user-like-username {% if user_data.username == like.username %}highlight{% endif %}">
            {{ like.username }}
          </div>
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% elif type == "likes" %}
<div class="user-comments-list-container">
  {% for comment in user_data.likes %}
  <div class="user-comment-card">
    <div class="user-comment-content-wrapper">
      <div class="user-comment-text">
        {{ comment.content }}
      </div>
      <div class="user-comment-subtext">
        <div class="user-comment-post-info">
          Posted by
          <span class="user-strong">
            <a class="user-link" href="{{ url_for('user_comments', user_id=comment.user_id) }}">
              {{ comment.username }}
            </a>
          </span>
          on
          <span class="user-strong">
            {{ comment.created_at|clean_date }}
          </span>
        </div>
        <div class="user-comment-counts">
          <div class="user-comment-count-text">
            {{ comment.replies|length|pluralize_reply }}
          </div>
          <span class="user-comment-count-divider">
            |
          </span>
          <div class="user-comment-count-text">
            {{ comment.likes|length|pluralize_like }}
          </div>
        </div>
      </div>
    </div>
    <div class="user-info-divider">
      <hr class="user-info-divider-line">
    </div>
    <div class="user-replies-container">
      {% if not comment.replies %}
      <div class="user-replies-label empty">
        This comment does not have any replies yet.
      </div>
      {% else %}
      <div class="user-replies-label">Replies...</div>
      <div class="user-reply-cards-container">
        {% for reply in comment.replies %}
        <div class="user-reply-card {% if user_data.username == reply.username %}highlight{% endif %}">
          <div class="user-reply-content-wrapper">
            <div class="user-reply-text">
              {{ reply.content }}
            </div>
            <div class="user-reply-subtext">
              Reply from
              <span class="user-strong">
                <a class="user-link" href="{{ url_for('user_comments', user_id=reply.user_id) }}">
                  {{ reply.username }}
                </a>
              </span>
              on
              <span class="user-strong">
                {{ reply.created_at|clean_date }}
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="user-info-divider">
      <hr class="user-info-divider-line">
    </div>
    <div class="user-likes-container">
      {% if not comment.likes %}
      <div class="user-likes-label empty">
        This comment does not have any likes yet.
      </div>
      {% else %}
      <div class="user-likes-label">Likes...</div>
      <div class="user-likes-content-wrapper">
        {% for like in comment.likes %}
        <a class="user-like-username-btn" href="{{ url_for('user_comments', user_id=like.user_id) }}">
          <div class="user-like-username {% if user_data.username == like.username %}highlight{% endif %}">
            {{ like.username }}
          </div>
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock content %}