{% extends "base.html" %}

{% block content %}
<div class="comments-list-container">
	{% if comments|length == 0 %}
	<div class="no-comments-msg-wrapper">
    <div class="no-comments-msg">
      You have not posted any comments yet...what are you waiting for?!?
    </div>
  </div>
	{% elif comments|length == 1 %}
	<div class="current-user-page-header">
		You have posted {{ comments|length|pluralize_comment }}
	</div>
	{% else %}
	<div class="current-user-page-header">
		You have posted {{ comments|length }} different comments
	</div>
	{% endif %}
	{% for comment in comments|sort(reverse=true, attribute="created_at") %}
	<div class="comment-card curr-user">
		<div class="comment-content">{{ comment.content }}</div>
		<div class="comment-info-container">
			<div class="comment-info">
				<div class="comment-subtext">
					Posted on <span class="strong">{{ comment.created_at|clean_date }}</span>
				</div>
				<div class="comment-counts">
					<div class="replies-count-wrapper">
						<a
							class="replies-count curr-user"
							href="{{ url_for('replies', comment_id=comment.id) }}"
							role="button">
							{{ comment.replies|length|pluralize_reply }}
						</a>
						{% if comment.replies %}
						<div class="replies-tooltip curr-user">
							{% for reply in comment.replies %}
							<span class="reply-username">{{ reply.id|reply_username }}</span>
							{% endfor %}
						</div>
						{% endif %}
					</div>
					<span class="count-divider">|</span>
					<div class="likes-count-wrapper">
						<span
							class="likes-count curr-user">
							{{ comment.likes|length|pluralize_like }}
						</span>
						{% if comment.likes %}
						<div class="likes-tooltip curr-user">
							{% for like in comment.likes %}
							<span class="likes-username">{{ like.id|like_username }}</span>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock content %}